# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables
.env

# Python distribution / packaging
build/
dist/
*.egg-info/

# Test / coverage artifacts
.pytest_cache/
.coverage
htmlcov/

# Type checker caches
.mypy_cache/

# Streamlit cache
.streamlit/secrets.toml